{% extends 'cycleSharing/base.html' %}

{% block main %}
    <div class="jumbotron container-fluid text-center">
      <h1>Bicycle Sharing System</h1>
	<div class="row">
	    <div class="col-md-10 col-md-offset-1 white-panel no-padding">
            <div class="center-block">
            </div>
	    </div>
	</div>
      <a class="btn btn-primary btn-lg" href="/availability/">View Available Cycles</a>&nbsp;&nbsp;&nbsp;
      <a class="btn btn-primary btn-lg" href="/login/">Login</a>
    </div>
{% endblock %}