{% extends 'cycleSharing/base.html' %}

{% block main %}
    <div class="jumbotron container-fluid">
      <div class="center-block text-center" style="width:200px">
      <div class="tab-content">
        <div id="login" class="tab-pane fade in active">
          <h4>Web app Login</h4>
          <form enctype="multipart/form-data" method="POST" action="" class="form-group">
            {% csrf_token %}
            <p><input type="text" class="form-control" name="login" value="" placeholder="Username"></p>
            <p><input type="password" class="form-control" name="password" value="" placeholder="Password"></p>
            <p><input type="submit" class="btn btn-primary" name="commit" value="Login"></p>
          </form>
        </div>
      </div>

      </div>
    </div>
{% endblock %}